<nav aria-label="Page Navigation">
  <ul class="pagination align-items-center mt-4 mb-0">
    
    <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
      <a class="page-link" href="{{ paginator.previous_page_path | relative_url | default: '#' }}" aria-label="previous-page">
        <i class="fas fa-angle-left"></i>
      </a>
    </li>

    {% assign current = paginator.page %}
    {% assign total = paginator.total_pages %}

    {% for i in (1..total) %}
      {% assign show_page = false %}
      
      {% if i == 1 or i == total %}
        {% assign show_page = true %}
      {% elsif i >= current | minus: 1 and i <= current | plus: 1 %}
        {% assign show_page = true %}
      {% endif %}

      {% if show_page %}
        <li class="page-item {% if i == current %} active{% endif %}">
          {% if i == 1 %}
            <a class="page-link" href="{{ '/' | relative_url }}">{{ i }}</a>
          {% else %}
            <a class="page-link" href="{{ site.paginate_path | replace: ':num', i | relative_url | replace: '//', '/' }}">{{ i }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}

    <li class="page-item {% unless paginator.next_page %}disabled{% endunless %}">
      <a class="page-link" href="{{ paginator.next_page_path | relative_url | default: '#' }}" aria-label="next-page">
        <i class="fas fa-angle-right"></i>
      </a>
    </li>
    
  </ul>
</nav>
